In [13]:
import pandas as pd 
import sqlite3

In [14]:
connection = sqlite3.connect ("olist.db")

df_reviews = pd.read_sql_query("SELECT * FROM Reviews", connection)

connection.close()

In [15]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     98410 non-null  object
 4   review_comment_message   98410 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
 7   timestamp_field_7        27 non-null     object
dtypes: int64(1), object(7)
memory usage: 6.0+ MB

In [16]:
df_reviews = df_reviews.drop(["timestamp_field_7"], axis = 1)

In [17]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     98410 non-null  object
 4   review_comment_message   98410 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [18]:
df_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,,,2018-04-13 00:00:00,2018-04-16T00:39:37Z
1,9a0abbb668bafb95a6d2b05db43284c4,d7bd0e4afdf94846eb73642b4e3e75c3,3,,,2017-04-30 00:00:00,2017-05-03T00:02:22Z
2,fdbdb2629a7cde0f66657acc92084e7f,70a752414a13d09cc1f2b437b914b28e,3,,,2017-09-29 00:00:00,2017-10-02T01:12:49Z
3,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,,,2018-01-18 00:00:00,2018-01-18T21:46:59Z
4,23f75a37effc35d9a915b4e1ad483793,2eaf8e099d871cd5c22b83b5ea8f6e0e,4,,,2018-03-28 00:00:00,2018-03-30T15:10:55Z

1.2 Gestion des doublons

In [27]:
df_reviews = df_reviews.drop_duplicates(['order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date'])

In [28]:
df_reviews.shape

(98371, 7)

# analyse

In [22]:
df_reviews.drop_duplicates(['order_id']).shape

(98167, 7)

In [23]:
df_reviews.drop_duplicates(['review_id']).shape

(98410, 7)

In [24]:
df_reviews[["order_id"]].value_counts()

order_id
7b1219cc26d69c357880055b52d87960    2
0b5588f04551d90ee148462bb65dfddf    2
9de38c42ea4d33af19aac6c4d6c4b146    2
4d006fbdecd41058974d5d99f2d69650    2
03515a836bb855b03f7df9dee520a8fc    2
                                   ..
557c1116cc609730b617567dec5790b3    1
557a4667291301e8bf807fca57f21d3e    1
5579e05d13430813508d862a0dd812fd    1
55788c74967dbef64cfde7d1db11e49d    1
fffe41c64501cc87c801fd61db3f6244    1
Name: count, Length: 98167, dtype: int64

In [25]:
df_reviews.loc[df_reviews["order_id"]=="7b1219cc26d69c357880055b52d87960",:]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
76179,58171a7606dfe74e31f874852a22dccc,7b1219cc26d69c357880055b52d87960,5,,,2017-08-02 00:00:00,2017-08-03 09:13:05
92293,d48422d17e29a8978034917672636d80,7b1219cc26d69c357880055b52d87960,5,,,2017-08-02 00:00:00,2017-08-05 09:46:00

In [26]:
df_reviews.loc[df_reviews["order_id"]=="0b5588f04551d90ee148462bb65dfddf",:]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
10434,ebafde0e0d7cc00d0af52d25a3ba12fd,0b5588f04551d90ee148462bb65dfddf,3,,,2018-08-04 00:00:00,2018-08-04 23:33:37
92047,27484997dcc084666f68b3a58a4804d3,0b5588f04551d90ee148462bb65dfddf,3,,,2018-07-26 00:00:00,2018-07-27 15:37:38

In [33]:
df_reviews.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [ ]:
df_reviews.review

In [35]:
df_reviews.review_creation_date = pd.to_datetime(df_reviews['review_creation_date'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_14340\716118920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews.review_creation_date = pd.to_datetime(df_reviews['review_creation_date'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")

In [36]:
df_reviews.loc[20, :]

review_id                  4b49719c8a200003f700d3d986ea1a19
order_id                   9d6f15f95d01e79bd1349cc208361f09
review_score                                              4
review_comment_title
review_comment_message                        Mas um pouco
review_creation_date                                    NaT
review_answer_timestamp                2018-02-16T00:00:00Z
Name: 20, dtype: object

In [37]:
df_reviews.review_answer_timestamp = pd.to_datetime(df_reviews['review_answer_timestamp'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_14340\4141303386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews.review_answer_timestamp = pd.to_datetime(df_reviews['review_answer_timestamp'], format= '%Y-%m-%d %H:%M:%S', errors="coerce")

In [38]:
df_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,,,2018-04-13,NaT
1,9a0abbb668bafb95a6d2b05db43284c4,d7bd0e4afdf94846eb73642b4e3e75c3,3,,,2017-04-30,NaT
2,fdbdb2629a7cde0f66657acc92084e7f,70a752414a13d09cc1f2b437b914b28e,3,,,2017-09-29,NaT
3,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,,,2018-01-18,NaT
4,23f75a37effc35d9a915b4e1ad483793,2eaf8e099d871cd5c22b83b5ea8f6e0e,4,,,2018-03-28,NaT

In [39]:
df_reviews.shape

(98371, 7)

In [41]:
df_reviews.review_creation_date.tail(50)

98360   2018-03-22
98361   2018-03-09
98362   2018-05-19
98363   2018-06-13
98364   2018-06-22
98365   2018-04-03
98366   2017-12-05
98367   2018-04-07
98368   2017-12-07
98369   2018-03-14
98370   2017-06-08
98371   2017-12-19
98372   2018-06-20
98373   2018-05-22
98374   2018-04-25
98375   2018-01-09
98376   2017-04-08
98377   2017-08-20
98378   2018-07-04
98379   2017-06-29
98380   2018-05-31
98381   2018-06-16
98382   2018-06-30
98383   2018-06-05
98384   2017-12-19
98385   2018-08-08
98386   2018-03-28
98387   2018-01-24
98388   2018-04-18
98389   2018-02-21
98390   2018-05-23
98391   2017-11-29
98392   2017-11-21
98393   2018-08-05
98394   2018-02-07
98395   2017-03-08
98396   2018-06-08
98397   2017-06-20
98398   2017-04-05
98399   2018-06-19
98400   2018-05-23
98401   2018-05-19
98402   2018-05-08
98403   2017-12-13
98404   2018-04-27
98405   2018-07-07
98406   2017-12-09
98407   2018-03-22
98408   2018-07-01
98409   2017-07-03
Name: review_creation_date, dtype: datetime64[ns]

In [42]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98371 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98371 non-null  object
 1   order_id                 98371 non-null  object
 2   review_score             98371 non-null  int64
 3   review_comment_title     98371 non-null  object
 4   review_comment_message   98371 non-null  object
 5   review_creation_date     98368 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 8.0+ MB

In [ ]:
df_reviews.loc[df_reviews['review_answer_timestamp'].isna(),:]['review_score'].value_counts()

1.3.2 remplacement des dates manquantes

In [44]:
df_reviews = df_reviews.dropna(subset=['review_creation_date','review_answer_timestamp'])

In [45]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98344 entries, 27 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98344 non-null  object
 1   order_id                 98344 non-null  object
 2   review_score             98344 non-null  int64
 3   review_comment_title     98344 non-null  object
 4   review_comment_message   98344 non-null  object
 5   review_creation_date     98344 non-null  datetime64[ns]
 6   review_answer_timestamp  98344 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.0+ MB

4. consistance des donn√©es

In [49]:
df_reviews['review_score'].value_counts()

review_score
5    56866
4    18993
1    11277
3     8095
2     3113
Name: count, dtype: int64